@media screen{
    html, body, #view-container{
        width: 99%;
        height: 99%;
    }
    body{
        background-color: #43C6F5;
    }
    .btn, .input-group-addon{
        background-color: #E6EE9C;
    }
}

@font-face {
    font-family: "Essay";
    font-weight: bold;
    src: url("/resources/static/fonts/Essays1743-Bold.woff") format('woff');
}

@font-face {
    font-family: "Essay";
    src: url("/resources/static/fonts/Essays1743.woff") format('woff');
}

@font-face {
    font-family: "Essay";
    font-weight: bold;
    font-style: italic;
    src: url("/resources/static/fonts/Essays1743-BoldItalic.woff") format('woff');
}


@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }

    .receipt{
        height: 98mm;
    }
}
