<style>
    .receipt-title{
        font-family: "Essay";
        font-size: 30px;
    }

    .logo-wrapper-wrapper{
        flex: 1;
    }

    .logo-wrapper{
        text-align: center;
    }

    .receipt-details-wrapper{
        flex: 2;
    }

    .receipt-details{
        padding: 20px 20px 20px 20px;
         width: 50%;
        float: right;
        text-align: right;
    }

    .receipt:nth-child(3n+1){
        page-break-after: always;
    }

    .receipt{
        display: flex;
        padding: 20px 20px 20px 20px;
    }

    .logo {
        position: relative;
        top: 50%;
        height: 10%;
    }

    .receipt:nth-child(2n+1){
        border-top: thin dashed black;
        border-bottom: thin dashed black;
    }

    p{
         font-size: 11px;
        font-family: "Essay"
    }

    p.volunteer-signature{
        font-size: 10px;
    }

    p.printed-at{
         font-size:  8px;
    }
</style>

<div data-ng-repeat="event in events | orderBy: 'name'" class="receipt">

   <div class="logo-wrapper-wrapper">
         <div class="logo-wrapper">
            <img src="/resources/static/img/revamp-logo.png" alt="">
            <div class="receipt-title"><strong>Revamp 2015</strong></div>
        </div>
    </div>
    <div class="receipt-details-wrapper">
        <div class="receipt-details">
            <p>Thanks for participating in <strong>{{event.event | uppercase}}.</strong> Have a great time! All the very Best!</p>
            <p><strong>Date:</strong>  {{event.date}}</p>
            <p><strong>Fee:</strong> {{event.fee}}</p>
            <p><strong>Venue:</strong> {{event.venue}}</p>
            <p><strong><em>(Please carry this receipt to the venue)</em></strong></p>
            <br>
            <br>
            <br>
            <p class="volunteer-signature"><strong>Volunteer Signature</strong></p>
            <p class="printed-at">{{Date.now() | date:'dd.MM.yyyy HH:mm:ss'}}</p>
        </div>
    </div>
</div>
